{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}

{% include "navadmin/navadmin.html.twig" %}

<div class="col-7 mt-5">
    <h2>Crear nuevo usuario</h2>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"><i class="fas fa-arrow-alt-circle-left"></i>Volver a Lista</a>

</div>
    </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}