{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    {% include "navadmin/navadmin.html.twig" %}
<div class="col-7 mt-5">
    <h2>Crear nuevo Animal</h2>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('animal_index') }}"><i class="fas fa-arrow-alt-circle-left"></i>Volver a Lista</a>
</div>
</div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}