/* --------------------------------
Site:       Site name
CSS author: Your name here
Updated:    Date
Updated by: Your name here
-------------------------------- */

/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td
{
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

input, textarea, select
{
    font-size: 110%;
    line-height: 1.1;
}

abbr, acronym
{
    border-bottom: .1em dotted;
    cursor: help;
}

body
{
    margin: 20px;
    color: #000;
    background: #fff;
    font: 90%/1.3 "DejaVu Sans", "URW Gothic L", "Helvetica Neue", Helvetica, Arial, "Microsoft Sans Serif", sans-serif;
}

#container
{
    float: left;
    width: 100%;
    background: #bbb;
}

#nav
{
    float: left;
    width: 20%;
    background: lime;
}

#content
{
    float: left;
    width: 60%;
    margin: 0 0 0 25px;
    background: yellow;
}

#extras
{
    float: right;
    width: 200px;
    background: gray;
}

.feature-image
{
    float: right;
    margin: 0 0 10px 10px;
    
    
}


@media (max-width: 480px) {


    #nav{
        width: 100%;
        margin:0px;
        box-sizing: 0%;
        float: left;
    }

    #content{
        width: 100%;
        margin:0px;
        box-sizing: 0%;
        float: left;
        
    }
    img{
        display: none;
    }
    #extras{
        width: 100%;
        margin-top:1%;
        margin:0px;
        box-sizing: 0%;
        margin-bottom:1% ; 
        float: left;
    }
}


@media  (max-width: 1000px) and (min-width: 481px) {

    #nav{
        width: 20%;
    }

    #content{
        width: 75%;
        
    }
    img{
        display: none;
    }
    #extras{
        width: 75%;
        margin:0%;
        padding:0%;
        margin-right: 1%;
    }
}