{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}-Inicio{% endblock %}

{% block body %}
    
    <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image fondo" data-parallax="true" >
      </div>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="{{ asset('img/now-logo.png') }}" alt="">
          <h1 class="h1-seo">Animalísimos</h1>
          <h3>Protectora de animales.</h3>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="section section-basic">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto typography-line" id="typography">
                    <h2 class="text-center title">Asociación de animales
                        <br><small>Luchamos por evitar el abandono de mascotas</small></h2>
                    <h5 class="text-center">Nos dedicamos a la bonita tarea de rescatar animales en situación vulnerable y darles una mejor vida</h5>
                </div>
            </div>
        </div>
      </div>
      <div class="section" data-background-color="black">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                  <div class="hero-images-container col-6">
                    <img src="{{ asset('img/closeup-of-hands-petting-cute-beagle.jpg') }}" alt="" class="rounded img-raised">
                  </div>
                  <div class="hero-images-container-1 col-6">
                    <img src="{{ asset('img/white-cat-lies-on-woman-s-knees.jpg') }}" alt="" class="rounded img-raised">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                  <div class="col-6">
                    <h4 class="text-center title">Estamos Ubicados</h4>
                    <h5 class="text-center">Calle La Regente Nº6</h5>
                    <h4 class="text-center title">Teléfono de Contacto</h4>
                    <h5 class="text-center">676475136</h5>
                  </div>
                  <div class="hero-images-container-1 col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8333802575544!2d-3.7844505846824705!3d37.770504879760225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6dd7a0416bba23%3A0xdace6246ccd2e67a!2sCalle%20Salobreja%2C%2023003%20Ja%C3%A9n!5e0!3m2!1ses!2ses!4v1612523184122!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

{% endblock %}


