//color de fondo
$color-background: #666;

//color de texto
$color-texto: #eee;

//color de texto al pasar sobre el
$color-texto-sobre-el:#fff;

//fondo sobre raton
$color-fondo-raton-lista: #888;

//Para establecer el color del texto y el color del fondo.
@mixin colorTextoFondo() {
    
    background-color: $color-background;
    color: $color-texto;

}

//Para establecer el color del texto y el color del fondo, pero en este caso
// para cuando pasamos con el ratón sobre él.
@mixin colorTextoFondoRaton() {
    
    background-color:$color-fondo-raton-lista;
    color: $color-texto-sobre-el;

}

//Para el box-sizing independientemente del tipo de navegador, el valor que tomará el box-sizing será un 
//parámetro que le pasaremos cuando lo invoquemos.

@mixin box-sizing($parametro) {
    
    box-sizing: $parametro;
    -moz-box-sizing: $parametro;
    -webkit-box-sizing: $parametro;

}

//Para las transiciones independientemente del navegador, a este mixin
// le enviaremos los argumentos de: property, duration y timing. Este último tendrá el valor por defecto linear.

@mixin transition($property,$duration,$timing) {
    -moz-box-sizing:($property,$duration,$timing) ;
    -webkit-box-sizing:($property,$duration,$timing);
    transition:($property,$duration,$timing);
}

@mixin animation($name,$duration,$timing) {
    
    -moz-box-sizing:($name $duration $timing) ;
    -webkit-box-sizing:($name $duration $timing);
    animation:($name $duration $timing);
}

@import "_menu";

body {
    padding: 0px;
    margin: 0px;
}

header {
    padding: 12px 30px;
    font-size: 1.8em;
    @include colorTextoFondo();
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    @include colorTextoFondo();
    @include box-sizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}