.container{
    position: relative;
  }
  .caja{
    width: 180px;
    height: 180px;
    background-color: #30B037;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
  }

  .caja1{
    background-color: red;
    transition: transform .2s;
  }

  .caja1:hover{
    transform: scale(1.5);
  }

  .caja2{
    background-color:#C49CD3;
    transition: transform .4s;
  }

  .caja2:hover{
    transform: rotate(180deg);
  }

  .caja3{
    background-color:#2980B9;
    transition: transform .2s;
  }

  .caja3:hover{
    transform: skew(15deg);
  }

  .caja4{
    background-color:#95A5A6;
    transition: transform .2s;
  }

  .caja4:hover{
    transform: skewX(35deg);
  }

  .caja5{
    background-color:#17A589;
    transition: transform .2s;
  }

  .caja5:hover{
    transform: skewY(35deg);
  }

  .caja6{
    background-color:#F1C40F;
    transition: transform .2s;
  }

  .caja6:hover{
    transform: translate(10px);
  }

  .caja7{
    background-color:#E67E22;
    transition: transform .2s;
  }

  .caja7:hover{
    transform: translateX(10px);
  }

  .caja8{
    background-color:#95A5A6;
    transition: transform .2s;
  }

  .caja8:hover{
    transform: translateY(10px);
  }

  .caja9{
    background-color:#2C3E50;
    transition: transform .2s;
  }

  .caja9:hover{
    transform: perspective(400px) rotateY(45deg);
  }

  .caja10{
    background-color:#2C3E50;
    transition: transform .2s;
  }

  .caja10:hover{
    transform: perspective(400px) rotateX(45deg);
  }

  .caja11{
    background-color:black;
    transition: transform .2s;
  }

  .caja11:hover{
    transform: matrix(1, 2, -1, 1, 80, 80);
  }

  


  